<ion-header>
  <ion-navbar>
    <ion-title>
      Events
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <h1>Enter the right Code</h1>
        <p *ngIf="!didWin()">Tap twice, press four times</p>
        <p *ngIf="didWin()">You won!</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <p>Tapped: {{ tapped }}</p>
          </ion-item>
          <ion-item>
            <p>Pressed: {{ pressed }}</p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <reset-app (didReset)="onDidReset($event)"></reset-app>
    <ion-row>
      <ion-col style="background-color: lightgreen" text-center (tap)="onTap()">Tap here</ion-col>
      <ion-col style="background-color: lightgreen" text-center (press)="onPress()">Press here</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
